.meteo {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #edfffc;
    font-size: 16px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.meteo-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
    color: #ffffff;
}

.location {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
}

.meteo-data {
    width: 100%;
    margin-top: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.meteo-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.meteo-data .col span {
    display: block;
    font-size: 16px;
}

.meteo-data .col img {
    width: 26px;
    margin-top: 10px;
}